* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #261f26;
  font-family: Rubik;
  display: flex;
  flex-wrap: wrap;
}

#content {
  box-shadow: inset 4px 4px 5px #261f26;
  background-color: #5c6f73;
  width: 89vw;
  display: flex;
  flex-direction: column;
  padding: 3vh 10vh 10vh 10vh;
  border-radius: 25px;
  gap: 2vh;
}

#header {
  display: flex;
  justify-content: center;
  padding: 1.5vh;
  background-color: #261f26;
  width: 100vw;
  height: 10vh;
  color: #d6d9d2;
}

#nav {
  background-color: #261f26;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  width: 10vw;
  color: #d6d9d2;
}

#createNew {
  cursor: pointer;
}

.li {
  font-weight: 400;
  cursor: pointer;
}

#createNew:hover,
.li:hover {
  color: #a2df57;
}

#todoForm {
  display: flex;
  gap: 4vw;
}

#title,
#description,
#dueDate,
#priority {
  border-radius: 25px;
}

/*#clearBtn {
  max-width: 7vw;
}*/

#submitBtn {
  background: none;
  color: rgb(33, 175, 28);
  border: none;
  padding: 0 0 0 0;
  font-weight: 900;
  font-size: 24px;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  outline: inherit;
}

#trashBtn {
  color: rgb(226, 49, 49);
  cursor: pointer;
}

#todoCard {
  padding: 1vh;
  gap: 10vw;
  border-radius: 7px;
  background-color: rgba(9, 22, 38, 0.7);
  color: rgb(245, 241, 241);
  box-shadow: 5px 5px 5px black;
}
#todoMain,
#hiddenCard {
  display: flex;
  align-items: center;
  max-width: 20vw;
  gap: 10vw;
  border-radius: 7px;
  color: rgb(245, 241, 241);
  animation: fadein 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expandBtn {
  padding: 1.5vh;
  max-height: 5vh;
}

.cardElem {
  min-width: 10%;
}
.visible {
  height: 15vh;
  background-color: rgba(34, 50, 65, 0.7) !important;
}

.cardElemHidden {
  visibility: visible !important;
}

#todoDiv {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

#frontText {
  display: flex;
  justify-content: flex-end;
  max-width: 45vw;
  gap: 0.5vh;
  margin-bottom: 2vh;
}

#frontText p {
  text-align: center;
}
